html{
    font-family: "Microsoft YaHei", sans-serif, Verdana,;
}
body{
    width: 90%;
    max-width: 1020px;
    margin: 0 auto;
}
p{
    line-height: 1.5;
    margin: 25px 0;
}
.msg,
.tec {
    float: left;
    padding: 0px 40px 0px 0px;
}
.one{
    width: 16%;
    height: 1020px;
    float: left;
    background-color: #1E90FF;
    color: white;
    text-align: center;
}
.two{
    width: 78%;
    height: 100%;
    float: right;
}
.clearfix {
    clear: both;
}